$color1:rgb(16, 124, 112);
$color2: rgb(249, 243, 231);
*{
    margin: 0%;
    padding: 0%;
}
.nav-item{
    background-color: $color1;
} 

header{
    background-color: $color1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    align-items: flex-end;

    h1{
        float: left;
        text-align: left;
        color: $color2;
    }
    
    li{
        display: inline-block;
        width: auto;
        padding: 0%;

        a{
            text-decoration: none;
            color: $color2;
            &:hover{
                color: purple;
                transform: scale(1.2);
            }
        }
    }
}
body{
    background-color: rgb(231, 215, 195);
}
.card{
    background-color: $color2;
    border: 0ch;
}
footer{
    width: 100%;
    max-width: 1220px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 0px;
    padding: 0px 0px;
    justify-content: stretch;
    align-items:flex-end;
    background-color:  $color1;
    border: 2px solid;

    .pagos{
        padding-bottom: 225px;
    }

    .datos{
        padding-bottom: 225px;
    }

    a{
        color: $color2;
        font-size: 20px;
        &:hover{
            color: rgb(6, 6, 6);
            transform: scale(1.5);
        }
    }

    li{
        font-family: 'Times New Roman', Times, serif;
        font-size: 17px;
    }
}
@mixin prod ($color, $bcolor, $fsize) {
    color: $color;
    background-color: $bcolor;
    font-size: $fsize;
}
.prod1{
    @include prod($color2, $color1, 30px)
    text-align: center;
    border-style: double;
    border-radius: 30px;
    border-width: 20px;
}
.prod2{
    @extend .prod1
}
.row{
    justify-content: space-evenly;
}
$mapa1: (
    50px: orange,
    40px: purple,
    30px: blue,
    20px: red
);

    @each $size, $colores in $mapa1 {
        .maps-#{$colores} {
        background-color: antiquewhite;
        height: auto;
        width: auto;
    }
        }